<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.879054433521-rdqeseb320crra6phl9anti84cjvteo1</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Rena needs your microphone for voice conversations</string>
	<key>NSCameraUsageDescription</key>
	<string>Rena uses your camera to identify food</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Rena scans your photos to log meals automatically</string>
</dict>
</plist>
